body
{
    font-family: Arial, Helvetica, sans-serif;
}

#mainBody
{
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.textfield
{
    width: 25%;
    margin: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

#description
{
    height: 100px;
}